<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin panel</title>
</head>
<body>
<a href="/logout">Logout</a>
<br>
<br>
<div>
  <h1>Admin panel</h1>
  <br>
  <a href="admin/newUser">New User</a>
  <br>
  <h3>All users</h3>
  <br>
  <br>
  <table th:border="1">
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Age</th>
      <th>Role</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <tr th:if="${#lists.isEmpty(listUsers)}">
      <td colspan="8">No Records found. Add some user!</td>
    </tr>
    <tr th:each="user : ${listUsers}">
      <td th:text="${user.id}"></td>
      <td th:text="${user.username}"></td>
      <td th:text="${user.surname}"></td>
      <td th:text="${user.age}"></td>
      <td th:text="${user.roleToString()}"></td>
      <td>
        <form th:method="get" th:action="@{/admin/{id}(id=${user.id})}">
          <button type="submit">Edit</button>
        </form>
      </td>
      <td>
        <form th:method="post" th:action="@{/admin/delete/{id}(id=${user.id})}" th:object="${user}">
          <input type="submit" value="Delete">
        </form>
      </td>
    </tr>
  </table>
</div>
</body>
</html>