<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit user</title>
</head>
<body>
<form method="post" th:action="@{/admin/update/{id}(id=${user.id})}" th:object="${user}">
  <div>
    <label for="id">ID</label>
    <input id="id" placeholder="ID" th:field="*{id}" type="text"/>
  </div>
  <div>
    <label for="name">First name</label>
    <input id="name" placeholder="Enter Name" th:field="*{username}" type="text"/>
  </div>
  <div>
    <label for="surname">Last name</label>
    <input id="surname" placeholder="Enter Surname" th:field="*{surname}" type="text"/>
  </div>
  <div>
    <label for="age">Age</label>
    <input id="age" placeholder="Enter Age" th:field="*{age}" type="text"/>
  </div>
  <div>
    <label for="password">Password</label>
    <input id="password" placeholder="Enter Password" th:field="*{password}" type="hidden"/>
  </div>
  <p>
    <label>Roles:
      <input type="checkbox" name="roles"
             th:each="role : ${roles}"
             th:text="${role.toString()}"
             th:value="${role.id}"
             th:field="*{roles}"
      />
    </label>
  </p>
  <div>
    <input type="submit" value="Edit">
  </div>
</form>
</body>
</html>