<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
  <div th:include="/parts/metas"></div>
  <title>Login page</title>
</head>
<body>
<div class="mx-auto" style="width: 400px;">
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-10 col-md-offset-3">
        <h3> Please sign in </h3>
        <form th:action="@{/login}" method="post">
          <!-- alert error -->
          <div th:if="${param.error}">
            <div class="alert alert-danger">
              Invalid email or password.
            </div>
          </div>
          <div class="form-group">
            <label for="email"> </label>
            <input type="text" class="form-control" id="email" name="email"
                   placeholder="Email address" autofocus="autofocus">
            <label for="password"></label>
            <input type="password" id="password" name="password" class="form-control"
                   placeholder="Password"/>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-sm-12 col-sm-offset-3">
                <input type="submit" name="login-submit" id="login-submit"
                       class="form-control btn btn-primary" value="Sign in"/>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div th:include="/parts/scripts"></div>
</body>
</html>